.Sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 4rem;
    transition: all 300ms ease;
  }
  /* logo */
  /* .bars{
    display: none;
  }
   */
  .logo {
    display: flex;
    height: 5rem;
    font-weight: bold;
    font-size: 26px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 2%;
    margin-left: -57px;
  }
 
  .logo > img {
    width: 2rem;
    height: 2rem;
  }

  .main-dash{
    padding: 10px;
    border-left: 1px solid black;
    margin-left: 35px;
  }
  

  @media screen and (max-width:1200px){
    .menuItem>span{
      display: none;
      width:10%
    }
    .logo{
      display: none;

    }
    .main-dash{
      justify-content: flex-start;
      margin-top: 2rem;
      border-left:none
    }
  }

  
  @media screen and (max-width:800px){
   
    .main-dash{
      justify-content: flex-start;
      margin-top: 2rem;
      border-left:none
    }
  }